---
import "@/styles/global.css";

import Layout from '@/layouts/Layout.astro';
import ContactSection from '@/components/ContactSection.astro';
import HeroSection from '@/components/HeroSection.astro';
import AboutSection from '@/components/AboutSection.astro';
import SpaceScene from '@/components/Space-scene.tsx';
import Navigation from '@/components/Navigation.tsx';
import ProjectsSection from '@/components/ProjectsSection.astro';

import { getContentfulData } from '@/lib/contentful';

const data = await getContentfulData();
const experiencias = data.items.flatMap(item => item.fields.experiencia)
const stackTecnologico = data.items.flatMap(item => item.fields.stackTecnologico).findLast(item => item.stack)
const proyectos = data.items.flatMap(item => item.fields.proyectos).flatMap(p => p.proyectos);
---

<Layout>
	<SpaceScene client:visible/>
	<Navigation client:load />
	<main>
		<HeroSection />
		<AboutSection experiencias={experiencias} stackTecnologico={stackTecnologico} />
		<ProjectsSection proyectos={proyectos} />
		<ContactSection />
	</main>
</Layout>
